In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("pivot_data.csv")

In [3]:
df

       date      city  event  windspeed  temperature
0  1/1/2017        us   Rain          6           32
1  1/4/2017  new york  Sunny          8           34
2  1/4/2017    canada  Sunny          6           20
3  1/4/2017     mumbi   Rain          9           12
4  1/4/2017        BD   Rain         10           34
5  1/4/2017  new york  Sunny          7           28
6  1/4/2017    canada  Sunny          4           36
7  1/4/2017        us   Rain         11           32
8  1/4/2017        BD   Rain          7           45

In [8]:
chill=pd.melt(df,id_vars=["event"])

In [9]:
chill

    event     variable     value
0    Rain         date  1/1/2017
1   Sunny         date  1/4/2017
2   Sunny         date  1/4/2017
3    Rain         date  1/4/2017
4    Rain         date  1/4/2017
5   Sunny         date  1/4/2017
6   Sunny         date  1/4/2017
7    Rain         date  1/4/2017
8    Rain         date  1/4/2017
9    Rain         city        us
10  Sunny         city  new york
11  Sunny         city    canada
12   Rain         city     mumbi
13   Rain         city        BD
14  Sunny         city  new york
15  Sunny         city    canada
16   Rain         city        us
17   Rain         city        BD
18   Rain    windspeed         6
19  Sunny    windspeed         8
20  Sunny    windspeed         6
21   Rain    windspeed         9
22   Rain    windspeed        10
23  Sunny    windspeed         7
24  Sunny    windspeed         4
25   Rain    windspeed        11
26   Rain    windspeed         7
27   Rain  temperature        32
28  Sunny  temperature        34
29  Sunny  temperature        20
30   Rain  temperature        12
31   Rain  temperature        34
32  Sunny  temperature        28
33  Sunny  temperature        36
34   Rain  temperature        32
35   Rain  temperature        45

In [10]:
chill[chill["variable"]=="city"]

    event variable     value
9    Rain     city        us
10  Sunny     city  new york
11  Sunny     city    canada
12   Rain     city     mumbi
13   Rain     city        BD
14  Sunny     city  new york
15  Sunny     city    canada
16   Rain     city        us
17   Rain     city        BD

In [13]:
chill=pd.melt(df,id_vars=["event"],var_name="city",value_name="tmp")

In [14]:
chill

    event         city       tmp
0    Rain         date  1/1/2017
1   Sunny         date  1/4/2017
2   Sunny         date  1/4/2017
3    Rain         date  1/4/2017
4    Rain         date  1/4/2017
5   Sunny         date  1/4/2017
6   Sunny         date  1/4/2017
7    Rain         date  1/4/2017
8    Rain         date  1/4/2017
9    Rain         city        us
10  Sunny         city  new york
11  Sunny         city    canada
12   Rain         city     mumbi
13   Rain         city        BD
14  Sunny         city  new york
15  Sunny         city    canada
16   Rain         city        us
17   Rain         city        BD
18   Rain    windspeed         6
19  Sunny    windspeed         8
20  Sunny    windspeed         6
21   Rain    windspeed         9
22   Rain    windspeed        10
23  Sunny    windspeed         7
24  Sunny    windspeed         4
25   Rain    windspeed        11
26   Rain    windspeed         7
27   Rain  temperature        32
28  Sunny  temperature        34
29  Sunny  temperature        20
30   Rain  temperature        12
31   Rain  temperature        34
32  Sunny  temperature        28
33  Sunny  temperature        36
34   Rain  temperature        32
35   Rain  temperature        45