In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("weight-height.csv")
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [3]:
max_val=df["Weight"].max()
max_val

269.989698505106

In [4]:
min_val=df["Weight"].min()
min_val

64.700126712753

In [5]:
MinMax_Scaling=(df["Weight"]-min_val)/(max_val-min_val)
df["MinMax_Scaling"]=MinMax_Scaling

In [6]:
df.head(50)

   Gender     Height      Weight  MinMax_Scaling
0    Male  73.847017  241.893563        0.863139
1    Male  68.781904  162.310473        0.475476
2    Male  74.110105  212.740856        0.721131
3    Male  71.730978  220.042470        0.756699
4    Male  69.881796  206.349801        0.689999
5    Male  67.253016  152.212156        0.426286
6    Male  68.785081  183.927889        0.580778
7    Male  68.348516  167.971110        0.503050
8    Male  67.018950  175.929440        0.541817
9    Male  63.456494  156.399676        0.446684
10   Male  71.195382  186.604926        0.593819
11   Male  71.640805  213.741169        0.726004
12   Male  64.766329  167.127461        0.498941
13   Male  69.283070  189.446181        0.607659
14   Male  69.243732  186.434168        0.592987
15   Male  67.645620  172.186930        0.523586
16   Male  72.418317  196.028506        0.639723
17   Male  63.974326  172.883470        0.526979
18   Male  69.640060  185.983958        0.590794
19   Male  67.936005  182.426648        0.573466
20   Male  67.915050  174.115929        0.532983
21   Male  69.439440  197.731422        0.648018
22   Male  66.149132  149.173566        0.411484
23   Male  75.205974  228.761781        0.799172
24   Male  67.893196  162.006652        0.473996
25   Male  68.144033  192.343977        0.621775
26   Male  69.089631  184.435174        0.583250
27   Male  72.800844  206.828189        0.692330
28   Male  67.421242  175.213922        0.538331
29   Male  68.496415  154.342639        0.436664
30   Male  68.618111  187.506843        0.598212
31   Male  74.033808  212.910225        0.721956
32   Male  71.528216  195.032243        0.634870
33   Male  69.180161  205.183621        0.684319
34   Male  69.577202  204.164125        0.679353
35   Male  70.400929  192.903515        0.624500
36   Male  69.076171  197.488243        0.646833
37   Male  67.193523  183.810973        0.580209
38   Male  65.807316  163.851825        0.482985
39   Male  64.304188  163.108017        0.479361
40   Male  67.974336  172.135597        0.523336
41   Male  72.189426  194.045405        0.630063
42   Male  65.270346  168.617746        0.506200
43   Male  66.090177  161.193433        0.470035
44   Male  67.510322  164.660277        0.486923
45   Male  70.104786  188.922303        0.605107
46   Male  68.251836  187.060552        0.596038
47   Male  72.172709  209.070863        0.703254
48   Male  69.179858  192.014335        0.620169
49   Male  72.870360  211.342497        0.714320

In [7]:
df[["Height","Weight"]].min()

Height    54.263133
Weight    64.700127
dtype: float64

In [8]:
df.cov()

                    Height       Weight  MinMax_Scaling
Height           14.803473   114.242656        0.556495
Weight          114.242656  1030.951855        5.021940
MinMax_Scaling    0.556495     5.021940        0.024463