*italicized text*# New Section

In [121]:
import pandas as pd
import numpy as np

In [122]:
# df=pd.read_csv("weather_data.csv")
# df
data = {'Name': ['Tom', 'Joseph', 'Krish', 'John',"joy","dhrubo","johir"], 'Age': [20, 21, 19, 18,34,17,120]}
df=pd.DataFrame(data) 
df

     Name  Age
0     Tom   20
1  Joseph   21
2   Krish   19
3    John   18
4     joy   34
5  dhrubo   17
6   johir  120

In [123]:
df.describe()

              Age
count    7.000000
mean    35.571429
std     37.668984
min     17.000000
25%     18.500000
50%     20.000000
75%     27.500000
max    120.000000

In [124]:
df.Age.quantile(interpolation='lower')

20

In [125]:
percentile_99=df.Age.quantile(0.99)
percentile_99

114.83999999999996

In [ ]:
df_no_outlier=df[df.Age > percentile_99]
df_no_outlier

    Name  Age
6  johir  120

In [ ]:
df.shape

(7, 2)

In [126]:
df

     Name  Age
0     Tom   20
1  Joseph   21
2   Krish   19
3    John   18
4     joy   34
5  dhrubo   17
6   johir  120

In [127]:
df["Age"][3]=np.NAN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [128]:
df

     Name    Age
0     Tom   20.0
1  Joseph   21.0
2   Krish   19.0
3    John    NaN
4     joy   34.0
5  dhrubo   17.0
6   johir  120.0

In [130]:
df.Age.mean()

38.5

In [133]:
def_new=df.fillna(df.Age.mean())
def_new

     Name    Age
0     Tom   20.0
1  Joseph   21.0
2   Krish   19.0
3    John   38.5
4     joy   34.0
5  dhrubo   17.0
6   johir  120.0

In [135]:
def_new=df.fillna(df.Age.median())
def_new

     Name    Age
0     Tom   20.0
1  Joseph   21.0
2   Krish   19.0
3    John   20.5
4     joy   34.0
5  dhrubo   17.0
6   johir  120.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')